@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo.png') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 600px;
    width: 311px;
    background:  url('../imagens/note\ 10.png') no-repeat;
    background-attachment: fixed;
}

iframe#tela {
    position: relative;
    top: 1.4%;
    left: 36%;
    width: 177px;
    height: 380px;
    border-radius: 7px;
}

section#rede {
    text-align: right;
}

section#rede img{
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#rede img:hover {
    border: 2px solid rgb(255, 255, 255);
    transform: -3px -10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transform: 0.3s, border 1s;
}